@model Ahorcado_KimberlyLeon.Models.Jugador
@{
    ViewBag.Title = "Nuevo jugador";
}
<h2>Nuevo jugador</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-group">
        @Html.LabelFor(m => m.Nombre)
        @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Nombre, "", new { @class = "text-danger" })
    </div>

    <div class="form-group">
        @Html.Label("ID del jugador")
        @Html.TextBoxFor(m => m.Codigo, new { @class = "form-control", placeholder = "Ej: 117580701" })
        @Html.ValidationMessageFor(m => m.Codigo, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
}
